.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #894b24;
  background-image: url('/learningtowalkAI.png');

}



.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #593219;
  border-radius: 4px;
}

.info p {
  margin-bottom: 0.5rem;
}