.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 24px;
  background-image: url('/tvs.png');
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;

}


.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  border: 5px solid #495251;
  border-radius: 9px;
  background-color: #98886c6b;
  
}

.info p {
  margin-bottom: 0.5rem;
  font-size: 2.5em;
}
.info a {
  margin-bottom: 0.5rem;
  font-size: 2.5em;
  text-decoration: underline;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.lighterIcon {
  margin-right: 1rem;
  filter: invert(1);
}

/* Adjust box size and font for medium screens */
@media screen and (max-width: 768px) {
  .info a, .linkContainer a{
    max-width: 80%;
    padding: 1.5rem;
    font-size: 1.5em;
  }

  .info p, .linkContainer p{
    font-size: 1em;
  }
  .lighterIcon {
    font-size: 0.5em;
  }
}

/* Adjust box size and font for small screens */
@media screen and (max-width: 480px) {
  .info a, .linkContainer a{
    max-width: 100%;
    padding: 1rem;
    font-size: 0.8em;
  }
  .lighterIcon {
    font-size: 0.3em;
  }

  .info p, .linkContainer p{
    font-size: 1.5em;
  }
}