.page {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('/learningtowalkAI.png');

  }
  
  .toolbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: rgb(231 223 202 / 67%);
  }
  
  .toolbarLink {
    color: #894b24;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em; 
  }
  
  /* Adjust font size for medium screens */
  @media screen and (max-width: 768px) {
    .toolbarLink {
      font-size: 1.2em;
    }
  }
  
  /* Adjust font size for small screens */
  @media screen and (max-width: 480px) {
    .toolbarLink {
      font-size: 1em;
    }
  }
  
  .content {
    text-align: center;
    font-size: 1.5em;
    color: #894b24;
  }
  
  .name {
    font-size: 4em;
    background-color: rgb(231 223 202 / 67%);
    border-radius: 2em;
    margin-bottom: 0.5em;
  }
  
  .description {
    background-color: rgb(231 223 202 / 67%);
    border-radius: 2em;
    font-size: 3em;
  }