.page {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('/learningtowalkAI.png');
}

.toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: rgb(231 223 202 / 86%);
}

.toolbarLink {
  color: #894b24;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}
.hamburger {
  color: #894b24;
  font-style: bold;
  text-align: left;
}
.sidebar{
  display: none;
}
.selected {
  color: white; /* Change this to the color you want for the selected link */
}

@keyframes typewriter {
  0% { width: 0; }
  100% { width: 100%; }
}

/* Responsive styles */
@media (max-width: 768px) {
  .toolbarLink {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .toolbar {
    flex-direction: column;
    padding: 5px 0;
  }

  .toolbarLink {
    font-size: 0.8em;
  }
}
  
.content {
  text-align: center;
  font-size: 1.5em;
  color: #241107;
}

.name {
  font-size: 4em;
  border-radius: 2em;
}

.description {
  border-radius: 2em;
  font-size: 1.5em;
}

/* Responsive styles */
@media (max-width: 768px) {
  .content {
    font-size: 1.2em;
  }

  .name {
    font-size: 3em;
  }

  .description {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .content {
    font-size: 1em;
  }

  .name {
    font-size: 2em;
  }

  .description {
    font-size: 1em;
  }
}